table {
	width: 100%;
}

.tm-li-category-name {
	margin-left: 6px;
}

li span {
	margin-left: 6px;
}

i[data-state=closed] {
	cursor: pointer;
}

i[data-state=opened] {
	cursor: pointer;
}

li.closed ul {
	display: none;
}

/* Отфильтрованные элементы */
.hidden {
	display: none;
}

/* Опуск футера */
body > main {
	min-height: 60%;
}

.bold {
	font-weight: bold;
}
